* {
    margin: 0;
    padding: 0;
}
body{
   
    background: linear-gradient(to right, #837e7f, #ccc1c9);
}
      
      .container {
       margin: auto;
       
      }

      h1 {
        font-family: 'Great Vibes';
        text-align: center;
        margin-top: 60px;
        margin-bottom: 80px;
      }
      h1 {
        @media (max-width: 767px) {
            h1 {
              font-size: 28px;
            }
          }
      }

      .product-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        margin-top: 20px;
      }

      .product {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        background-color: #f2f2f2;
        border-radius: 10px;
      }

      .product-image {
        width: 100px;
        height: 100px;
        margin-bottom: 20px;
      }

      .product-name {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
      }

      .product-price {
        font-size: 16px;
        color: green;
        margin-bottom: 10px;
      }

      .buy-button {
        padding: 10px 20px;
        background-color: green;
        color: white;
        border-radius: 10px;
        cursor: pointer;
        font-size: 18px;
      }
      .footer-div{
        padding-top: 10px;
      }

        @media (max-width: 767px) {
          footer {
            font-size: 14px;
          }
        }
      
  
